body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: maroon;
}
.section-1, .section-2, .section-3, .section-4{
    height: 50vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align-last: center;
}
.section-1, .section-3{
    background-color: whitesmoke;
    height: 52vh;
}
.section-2, .section-4{
    background-color: whitesmoke;
}
#section-1{
    font-style: inherit;
    font-size: medium;
    text-align: center;
    color: black;
}
div.intro{
    display: flex;
    padding-top: 70px;
}
.intro>p{
    float: right;
    padding-left: 50px;
}
.c-black{
    color: black;
    text-align: center;
}
.section-4{
    height: 40vh;
}
.projects, .about-me, .hobbies{
    display: flex;
}
.projects>p, .about-me>p, .hobbies>p{
    margin: 10px;
    width: 33.3%;
    border: 5px solid black;
    padding: 10px;
}
.section-1{
    background-color: whitesmoke;
    height: 10vh;
}
/* h1{
    font-size: 200%;
    text-shadow: black;
    margin-bottom: 50px;
} */